@import "tailwindcss";

@theme {
  /* Color palette */
  --color-primary: #ffffff;
  --color-background: #1a1d2e;
  --color-surface: #2c3144;
}

@layer base {
  html,
  body {
    font-family: 'Courier New', Courier, 'Lucida Console', Monaco, monospace;
    background-color: var(--color-background);
  }
}
